<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SecondChance - Course</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">

    <style>
        .courseHeader {
            background-color: #ffbb00;
            border-radius: 10px;
            padding: 20px;
            margin-top: 20px;
        }

        .stepDetailHeader {
            background-color: #ffbb00;
        }

        .accordion-button:not(.collapsed) {
            background-color: #ffbb00;
            /* Change this color to whatever you want for the expanded state */
        }

        .accordion-button.collapsed {
            background-color: #ffcc66;
            /* Change this color to whatever you want for the collapsed state */
        }

        .text-muted p {
            margin: 0;
        }
    </style>
</head>

<body>

    <nav class="navbar">
        <div class="container-fluid">
            <img src="assets/img/SecondChanceLogoV2.png" width="250" height="100%">
            <form class="d-flex">
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link" href="/to-user">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/to-jobs">Jobs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/journal">Journal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/to-course">Course</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/to-chat">Chatbot</a>
                    </li>
                </ul>
            </form>
        </div>
    </nav>

    <div class="container courseHeader">
        <div>
            <p class="fw-bold fs-4 mb-0">
                <%= course.name %>
            </p>
        </div>
        <div class="mt-3">
            <div>
                <p class="text-muted fw-bold mb-0 mt-0">Description</p>

            </div>
            <div>
                <p style="color: black;">
                    <%= course.description %>
                </p>
            </div>
        </div>
        <div class="mt-3">
            <button class="btn btn-outline-dark">Start</button>
        </div>
    </div>

    <div class="container mt-3">
        <div class="ratio ratio-16x9">
            <iframe width="420" height="315" src="<%=course.url%>"></iframe>
        </div>
    </div>
            
    <div class="container mt-3">
        <div class="d-flex justify-content-center">
            <div>
                <form action="/updatePoint" method="post">
                    <input style="display: none;" type="text" name="Coursepoint" id="CoursePoint" value="<%=course.point%>">
                    <button id="finishButton" class="btn btn-outline-dark" type="submit">Finish</button>
                </form>
            </div>
            <div class="china-points">
                <p style="margin-top: 5px; margin-left: 5px;">
                    + <%= course.point %> Point
                </p>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button stepDetailHeader collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <div class="flex-column">
                            <div class="d-flex">
                                <div class="me-3">
                                    <p class="fw-bold fs-5 mb-0">Course Details</p>
                                </div>
                            </div>
                            <div class="text-muted mt-2">
                                <p id="accordionStatusText" style="margin: 0;">Click to View</p>
                            </div>
                        </div>
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="text-muted stepsMargin">
                            <p>Lorem, ipsum dolor.</p>
                            <p>Lorem ipsum dolor sit amet.</p>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, itaque?</p>
                            <p>lorem</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>

    <script>
        // JavaScript to change accordion button text and scroll to accordion
        var accordionButton = document.querySelector('.accordion-button');
        var accordionStatusText = document.getElementById('accordionStatusText');

        accordionButton.addEventListener('click', function () {
            if (accordionButton.classList.contains('collapsed')) {
                accordionStatusText.textContent = 'Click to View';
            } else {
                accordionStatusText.textContent = 'Click to Hide';
            }
        });


    </script>

</body>

</html>